<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> 
<!--<![endif]-->
<head>

	    <!-- ==============================================
		Title and Meta Tags
		=============================================== -->
		<meta charset="utf-8">
        <title>Legal LightHouse</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		<meta name="description" content="Add your business website description here">
        <meta name="keywords" content="Add your, business, website, keywords, here">
        <meta name="author" content="Add your business, website, author here">
		
		<!-- ==============================================
		Favicons
		=============================================== --> 
		<link rel="shortcut icon" href="img/favicons/favicon.ico">
		<link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
		
	    <!-- ==============================================
		CSS
		=============================================== -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">     <!-- ADD NEW LIBRARY FOR Font Awesome -->	
		
		<!--[if lt IE 9]>
		 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->		
		
</head>

<body class="greybg" data-spy="scroll" data-target="#sidenav" data-offset="200">

     <!-- ==============================================
	 Navbar
	 =============================================== -->
	 <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
       <!-- Brand and toggle get grouped for better mobile display -->
	 <a class="navbar-brand" href="index.html"><i><%= image_tag "images/logo.png" , size: "35x30" %>Legal LightHouse.</a></i>
       <input type="checkbox" id="toggle" />
	   <label for="toggle" class="toggle"></label>

       <!-- Collect the nav links, forms, and other content for toggling -->
		<ul class="menu">
		 <!-- <li><a href="index.html">HOME</a></li> -->
		 <li>  <%= link_to "HOW IT WORKS", :controller => :home, :action => :howitworks%></li>
		  
		<li>    <%= link_to "FOR LAWYERS", :controller => :home, :action => :forlawyers%></li>
		  
		 <li>    <%= link_to "ABOUT US", :controller => :home, :action => :about%></li>
		  
		  
		  <li>   <%= link_to "FAQ", :controller => :home, :action => :faq%></li>
		   
  <li>   <%= link_to "CONTACT", :controller => :home, :action => :contact%></li>
		  </ul>
		 </li> 	
		</ul><!-- /.ul.menu -->
      </div><!-- /.container -->
     </nav><!-- /.nav -->
	 
     <!-- ==============================================
	 Header
	 =============================================== -->	 
	 <header class="header-faq">
      <div class="container">
	   <div class="content">
        <div class="row">
	     <h1 class="revealOnScroll" data-animation="fadeInDown"><i> <%= image_tag "images/logo.png" , size: "45x40" %></i> FAQ</h1>
		 <p>Frequently Asked Questions.</p>
        </div><!-- /.row -->
       </div><!-- /.content -->
	  </div><!-- /.container -->
     </header><!-- /header -->
	 
	  <!-- ==============================================
	  Hello Section
	  =============================================== -->
    
     
	  
     <!-- ==============================================
	 Footer Section
	 =============================================== -->
   <div class="footer">
	  <div class="container">
	   <div class="row">
	  
	    <div class="col-md-4 col-sm-6 text-left">
	     <h4 class="heading no-margin">About Us</h4>
		 <hr class="mint">
		 <p> The Ultimate Lawyers Marketplace for Clients  to connect, collaborate, and get work done.</p>
		 <p>We work hard to build a great product that is beautifully designed, simple to use, user friendly with great focus on user experience and customer service.</p>
	    </div><!-- /.col-md-4 -->
	   
	    <div class="col-md-2 col-sm-6 text-left">
	     <h4 class="heading no-margin">Company</h4>
		 <hr class="mint">
		 <div class ="no-padding">
		 <%= link_to "HOW IT WORKS", :controller => :home, :action => :howitworks%>
   <%= link_to "FOR LAWYERS", :controller => :home, :action => :forlawyers%>
		  
		    <%= link_to "ABOUT US", :controller => :home, :action => :about%>
		  
		  
		     <%= link_to "FAQ", :controller => :home, :action => :faq%>
		   
     <%= link_to "CONTACT", :controller => :home, :action => :contact%>			 
		 </div>
	    </div><!-- /.col-md-2 -->	
		
		<div class="col-md-3 col-sm-6 text-left">
	     <h4 class="heading no-margin">Other Services</h4>
		 <hr class="mint">
		 <div class="no-padding">
		  <a href="#">Privacy Policy</a>
		  <a href="#">Terms of Use</a>
		  <!-- <a href="faq.html">FAQ</a>		  -->
		 </div>
	    </div><!-- /.col-md-3 -->	
		
	    <div class="col-md-3 col-sm-6 text-left">
	    <h4 class="heading no-margin">Instagram Feed</h4>
		<hr class="mint">
		 <div class="no-padding">
		   <a href="#"></a>
		   <!-- <a href="#">Top Lawyers by Skill</a> -->
		   <!-- <a href="#">Top Lawyers in USA</a> -->
		   <!-- <a href="#">Top Lawyers in Canada</a> -->
		   <!-- <a href="#">Top Lawyers in Australia</a> -->
		   <!-- <a href="#">Top Lawyers in Kenya</a>		   -->
		  </div>
		 </div><!-- /.col-md-3 -->
		 
	    </div><!-- /.row -->
	   <div class="clearfix"></div>
	  </div><!-- /.container-->
     </div><!-- /.footer -->		
	 
	 <!-- ==============================================
	 Made Section
	 =============================================== -->
	 <section class="made">
	  <div class="container">
	   <div class="row">
		<div class="col-lg-10 col-lg-offset-1 text-center">
		 <h4 class="made-with-love">Legal Lighthouse Inc.</h4>
		 <p class="made-with-love-1">1500 From St. College, Suite 200, Office 3 St. Laurent, QC, H4L 5G6  </p>
		</div>
		<!-- /.col-lg-10 -->
	   </div><!-- /.row -->
	  </div><!-- /.container -->
     </section><!-- /.made -->
	 
	 <!-- ==============================================
	 Bottom Footer Section
	 =============================================== -->	
     <footer id="main-footer" class="main-footer">
	  <div class="container">
	   <div class="row">
	   
	    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
		 <ul class="social-links">
		  <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="800"><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
		  <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="600"><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
		  <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="400"><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
		  <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="200"><a href="#link"><i class="fa fa-pinterest fa-fw"></i></a></li>
		  <li class="revealOnScroll" data-animation="slideInLeft"><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
		 </ul>
		</div>
	    <!-- /.col-sm-4 -->
		
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 revealOnScroll" data-animation="bounceIn" data-timeout="200">
		 <div class="img-responsive text-center">
		  <i>  <%= image_tag "images/logo_en.png" , size: "60x55" %></i>		 </div><!-- End image-->
		</div>
		<!-- /.col-sm-4 -->
		
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-right revealOnScroll" data-animation="slideInRight" data-timeout="200">
		 <p>&copy;2016 Legal Lighthouse Inc. <a href="#" target="_blank"></a></p>
		</div>
		<!-- /.col-sm-4 -->
				
	   </div><!-- /.row -->
	  </div><!-- /.container -->
	 </footer><!-- /.footer -->  
	 
     <a id="scrollup">Scroll</a>
	 	 
	 
     <!-- ==============================================
	 Scripts
	 =============================================== -->
	 
    
	 <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script> -->
    
	 
	 <!-- <script> -->
	  <!-- var $sideBar = $('#sidebar .panel'); -->
	  <!-- $sideBar.affix({ -->
		<!-- offset: { -->
		  <!-- top: function () { -->
			<!-- var offsetTop      = $sideBar.offset().top; -->

			<!-- return (this.top = offsetTop - 50) -->
		  <!-- }, -->
		 <!-- bottom: ($('.footer').outerHeight(true) + $('.made').outerHeight(true)) + 130 -->
		<!-- } -->
	  <!-- }); -->
     <!-- </script> -->

</body>
</html>
