
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> 
<!--<![endif]-->
<head>

<!-- <style> -->
<!-- header h6.hire1 { -->
    <!-- color: #ffffff; -->
    <!-- font-family: 'Varela Round', sans-serif; -->
    <!-- font-weight: 700; -->
   <!-- text-align : left; -->
    <!-- padding-bottom: 5px; -->
	<!-- padding-left: 120px; -->
<!-- </style> -->



	    <!-- ==============================================
		Title and Meta Tags
		=============================================== -->
		<meta charset="utf-8">
        <title>Legal LightHouse</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Add your business website description here">
        <meta name="keywords" content="Add your, business, website, keywords, here">
        <meta name="author" content="Add your business, website, author here">
		
		<!-- ==============================================
		Favicons
		=============================================== --> 
		<link rel="shortcut icon" href="img/favicons/favicon.ico">
		<link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
		
	    <!-- ==============================================
		CSS
		=============================================== -->
       
		
		
		
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">     <!-- ADD NEW LIBRARY FOR Font Awesome -->
				
		<!-- ==============================================
		Feauture Detection
		=============================================== -->
	
		
		<!--[if lt IE 9]>
		 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->		
		
</head>

<body>

     <!-- ==============================================
	 Navbar
	 =============================================== -->
	 <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
       <!-- Brand and toggle get grouped for better mobile display   <img src = "img/images/logo_fr.png"> -->
	    
	   <a class="navbar-brand"  href="index" ><i><%= image_tag "images/logo.png" , size: "35x30" %>Legal LightHouse.</i></a>
	 
       <input type="checkbox" id="toggle" />
	   <label for="toggle" class="toggle"></label>

       <!-- Collect the nav links, forms, and other content for toggling -->
		<ul class="menu">
		<!-- <li><a href="index.html">HOME</a></li> -->
		<li>  <%= link_to "HOW IT WORKS", :controller => :home, :action => :howitworks%></li>
		  
		<li>    <%= link_to "FOR LAWYERS", :controller => :home, :action => :forlawyers%></li>
		  
		 <li>    <%= link_to "ABOUT US", :controller => :home, :action => :about%></li>
		  
		  
		  <li>   <%= link_to "FAQ", :controller => :home, :action => :faq%></li>
		   
  <li>   <%= link_to "CONTACT", :controller => :home, :action => :contact%></li>
		 
	
		
		</ul><!-- /.ul.menu -->
      </div><!-- /.container -->
     </nav><!-- /.nav -->
	 
     <!-- ==============================================
	 Header
	 =============================================== -->	 
	 <header id="header" class="header-two">
      <div class="container">
	   <div class="content">
	   
        <div class="row">
		 <h1 class="name revealOnScroll" data-animation="fadeInDown"><i>
		 <%= image_tag "images/logo_en.png" , size: "190x170" %></i></h1>
		 <p class="temp">The Right Lawyer. A Fair Price.</p>
         <h1 class="hire revealOnScroll" data-animation="fadeInUp" data-timeout="400">Fixed-fee legal services,no hidden costs.</h1>
		

		<!-- Extra css is written above for this -->
		<!-- <h6 class="hire1 revealOnScroll" data-animation="fadeInUp" data-timeout="400">Find the right lawyer at a fair price. &nbsp&nbsp  Showcase your services for free</h6> -->
		
	
		
		
	     <div class="form-row animations scale-in d3">
		
		 
		  <div class="radio radio-left">
		 <!-- <p ><b>Find the right lawyer at a fair price</b></p> -->
		   <a href="comingsoon.html">Search now</a>		  
		  </div>
	
		  <div class="radio radio-right">
		 <!-- <p><b>Showcase your services for free</b></p></center> -->
		 
<%= link_to "Sign Up Now", :controller => :lawyerapplicationform, :action => :lawyersignup%>
		   
		    </div><!--./radio -->
	 	 </div><!--./form-row -->
              </div><!--./row -->
		
		<div class="row">
		 <div class="col-lg-10 col-lg-offset-1 hidden-xs">
		  <div class="logos">
		   <!-- <img src="img/featured-logos.png" class="img-responsive" alt=""/>		   -->
		   </div>
		  <!--./logos -->
		 </div>
		 <!--./col-lg-10 -->
		</div><!--./row --> 
		
       </div><!--./content -->
	  </div><!--./container -->
     </header><!--./header -->
	 
	 
	 <!-- ==============================================
	 Freelance Services Section
	 =============================================== -->
    <section id="services" class="services">
	  <div class="container text-center">
	  
	   <div class="row">
	    <div class="col-lg-12">
		 <h3>We are here to provide you legal help !</h3>
		 <hr class="mint">
		 <p class="top-p">Examples of fixed fee packages and services.</p>
		 
		 <div class="col-lg-3 col-md-3 col-sm-4">
		  <!-- <a href="services.html" class="hover"> -->
		   <div class="features one">
		    <span class="fa-stack fa-3x">
			 <i class="fa fa-circle fa-stack-2x"></i>
			 <i class="fa fa-handshake-o fa-stack-1x fa-inverse"></i>
			<!--  <i class="fa fa-handshake-o fa-stack-2x"></i>	 -->		
			</span><!-- /span -->
			<h4>Ready to be your own boss?</h4>
		   </div><!-- /.features -->
		   <div class="spacer">
			<p>Incorporate your business provincially</p>
			
			<p><b>For as little as $950 + tax </b></p><br>
		   </div> <!-- /.spacer -->
		  <!-- </a>		  -->
		 </div><!-- /.col-lg-4 -->
		 
		 <div class="col-lg-3 col-md-3 col-sm-4">
		  <!-- <a href="services.html"> -->
		   <div class="features two">
		    <span class="fa-stack fa-3x">
			 <i class="fa fa-circle fa-stack-2x"></i>
			 <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>			
			</span><!-- /span -->
			<h4>Going to small claims court?</h4>
		   </div><!-- /.features -->
		   <div class="spacer">
			<p>Make sure that you’re prepared.</p>
			<p><b>For as little as $600 + tax</b></p> <br>
		   </div> <!-- /.spacer -->
		  <!-- </a>		  -->
		 </div><!-- /.col-lg-4 -->
		 
		 <div class="col-lg-3 col-md-3 col-sm-4">
		  <!-- <a href="services.html"> -->
		   <div class="features three">
		    <span class="fa-stack fa-3x">
			 <i class="fa fa-circle fa-stack-2x"></i>
			 <i class="fa fa-desktop fa-stack-1x fa-inverse"></i>			
			</span><!-- /span -->
			<h4>Starting an online business?</h4>
		   </div><!-- /.features -->
		   <div class="spacer">
			<p>Have your Terms of Service and Privacy Policy drafted</p>
			<p><b>For as little as $1050 + tax</b></p> <br>
		   </div> <!-- /.spacer -->
		  <!-- </a>		  -->
		 </div><!-- /.col-lg-4 -->
		 
		  <div class="col-lg-3 col-md-3 col-sm-4">
		  <!-- <a href="services.html"> -->
		   <div class="features four">
		    <span class="fa-stack fa-3x">
			 <i class="fa fa-circle fa-stack-2x"></i>
			 <i class="fa fa-book fa-stack-1x fa-inverse"></i>			
			</span><!--/span-->
			<h4>Want to protect your brand?</h4>
		   </div><!--/.features-->
		   <div class="spacer">
			<p>Put the odds in your favour and register a trademark today.</p>
			<p><b>For as little as $1000 + tax</b></p>
		   </div> <!--/.spacer-->
		  <!-- </a>		  -->
		 </div><!--/.col-lg-4-->
		 
		  
		 </div><!-- /.col-lg-12 -->
		</div><!-- /.row -->
	
	  </div><!-- /.container -->
	 </section><!-- /section -->
	 
	 
	 
	 <section id="team" class="team">
      <div class="container">
       <!-- Title Page -->
       <div class="row text-center">
        <div class="col-lg-12">	   
	     <h3>Examples of featured lawyers</h3>
	     <hr class="mint">
	     <!-- <p class="top-p">Our Brilliant and Harworking Team.</p> -->
        </div><!-- /.col-lg-12 -->
       </div><!-- /.row -->
       <!-- End Title Page -->
       
	   <!-- People -->
       <div class="row">
    	
       <!-- Start Profile -->
        <div class="col-lg-3 profile col-md-3 col-sm-4">
         <div class="image-wrap">
          <!-- <div class=""> -->
           <!-- <span class="overlay-img"></span> -->
           <!-- <span class="overlay-text-thumb">Founder/C.E.O</span>          </div><!-- /.hover-wrap --> 
           <%= image_tag "team/1.jpg" %>         </div>
         <!-- /.image-wrap -->
         <h4 class="profile-name">Natalie</h4>
         <p class="profile-description">Senior Attorney</br>11 years of experience
</p>
 
            	
		
        </div><!-- /.col-lg-4 -->
	   <!-- End Profile -->
        
       <!-- Start Profile -->
        <div class="col-lg-3 profile col-md-3 col-sm-4">
	     <div class="image-wrap">
	      <!-- <div class="hover-wrap"> -->
	       <!-- <span class="overlay-img"></span> -->
		   <!-- <span class="overlay-text-thumb">Accountant</span>	      </div>     <!-- /.hover-wrap --> 
	       <%= image_tag "team/2.jpg" %>       </div>
	     <!-- /.image-wrap -->
         <h4 class="profile-name">Sushil</h4>
         <p class="profile-description">Senior Attorney</br>
12 years of experience </p>
            	
	   
        </div><!-- /.col-lg-4 -->
       <!-- End Profile -->
        
       <!-- Start Profile -->
        <div class="col-lg-3 profile col-md-3 col-sm-4">
	     <div class="image-wrap">
		
		  <%= image_tag "team/3.jpg" %>  	     </div>
	     <!-- /.image-wrap -->
         <h4 class="profile-name">Patrick</h4>
         <p class="profile-description">Tax Lawyer </br>
5 years of experience </p>
            	
	   
        </div><!-- /.col-lg-4 -->
		
		<div class="col-lg-3 profile col-md-3 col-sm-4">
	     <div class="image-wrap">
		  <!-- <div class="hover-wrap"> -->
		   <!-- <span class="overlay-img"></span> -->
		   <!-- <span class="overlay-text-thumb">Lead Developer</span>		  </div><!-- /.hover-wrap -->
		   <%= image_tag "team/4.jpg" %>  	     </div>
	     <!-- /.image-wrap -->
         <h4 class="profile-name">Audrey</h4>
         <p class="profile-description">Intellectual Property Attorney </br>
7 years of experience</p>
            	
	   
        </div><!-- /.col-lg-4 -->
       <!-- End Profile -->
        
       </div><!-- End People -->
      </div><!-- /.container -->
     </section>
	 
	 

	 
	 
	 
	 
	 
	
	
	  
     <!-- ==============================================
	 Testimonials Section
	 =============================================== -->	
     <div id="testimonials">
	  <div class="container">  
	   <div class="row">
	   
	   <h3>Testimonials</h3>
	   <hr class="mint">
	   
		<div class="testimonials-slider">
		 <ul class="slides">
          <li>
		   <p> “By facilitating access to fixed-fee legal services and allowing lawyers to work flexible hours, Legal Lighthouse is catalyzing a powerful and exciting shift in affordable access to justice.”
		   <span>Richard Janda, Professor of Business Law, McGill University</span></p>
		  </li>
		  <!-- <li> -->
           <!-- <p>Having had raised a round of venture capital financing, we knew we needed to significantly control and reduce our legal spend. -->
		   <!-- I had been introduced to a number of larger law firms through business school contacts,  -->
		   <!-- but there was a striking lack of transparency in their pricing. So when I came across Legal LightHouse I decided to give it a try -->
		   <!-- <span>Segero, NoranicMeds</span></p> -->
		  <!-- </li> -->
		  <!-- <li> -->
		   <!-- <p>I m wondering why I never contacted these guys sooner! Seriously, they all have commendable talent in their respective field and knocked my concept out of the ballpark. Thanks for an amazing experience! -->
		   <!-- <span>Jane Doe</span></p> -->
		  <!-- </li> -->
         </ul><!-- /ul -->
		</div><!-- /.testimonials-slider -->
	   </div><!-- /.row -->
	  </div><!-- /.container -->
     </div>
     <!-- /section -->  
	 
     <!-- ==============================================
	 Footer Section
	 =============================================== -->
     <div class="footer">
	  <div class="container">
	   <div class="row">
	  
	    <div class="col-md-4 col-sm-6 text-left">
	     <h4 class="heading no-margin">About Us</h4>
		 <hr class="mint">
		 <p> The Ultimate Lawyers Marketplace for Clients  to connect, collaborate, and get work done.</p>
		 <p>We work hard to build a great product that is beautifully designed, simple to use, user friendly with great focus on user experience and customer service.</p>
	    </div><!-- /.col-md-4 -->
	   
	    <div class="col-md-2 col-sm-6 text-left">
	     <h4 class="heading no-margin">Company</h4>
		 <hr class="mint">
		 <div class ="no-padding">
		 <%= link_to "HOW IT WORKS", :controller => :home, :action => :howitworks%>
   <%= link_to "FOR LAWYERS", :controller => :home, :action => :forlawyers%>
		  
		    <%= link_to "ABOUT US", :controller => :home, :action => :about%>
		  
		  
		     <%= link_to "FAQ", :controller => :home, :action => :faq%>
		   
     <%= link_to "CONTACT", :controller => :home, :action => :contact%>		 
		 </div>
	    </div><!-- /.col-md-2 -->	
		
		<div class="col-md-3 col-sm-6 text-left">
	     <h4 class="heading no-margin">Other Services</h4>
		 <hr class="mint">
		 <div class="no-padding">
		  <a href="#">Privacy Policy</a>
		  <a href="#">Terms of Use</a>
		  <!-- <a href="faq.html">FAQ</a>		  -->
		 </div>
	    </div><!-- /.col-md-3 -->	
		
	    <div class="col-md-3 col-sm-6 text-left">
	    <h4 class="heading no-margin">Instagram Feed</h4>
		<hr class="mint">
		 <div class="no-padding">
		   <a href="#"> -</a>
		   <!-- <a href="#">Top Lawyers by Skill</a> -->
		   <!-- <a href="#">Top Lawyers in USA</a> -->
		   <!-- <a href="#">Top Lawyers in Canada</a> -->
		   <!-- <a href="#">Top Lawyers in Australia</a> -->
		   <!-- <a href="#">Top Lawyers in Kenya</a>		   -->
		  </div>
		 </div><!-- /.col-md-3 -->
		 
	    </div><!-- /.row -->
	   <div class="clearfix"></div>
	  </div><!-- /.container-->
     </div><!-- /.footer -->			
	 
	 <!-- ==============================================
	 Made Section
	 =============================================== -->
	 <section class="made">
	  <div class="container">
	   <div class="row">
		<div class="col-lg-10 col-lg-offset-1 text-center">
		 <h4 class="made-with-love">Legal Lighthouse Inc.</h4>
		 <p class="made-with-love-1">1500 From St. College, Suite 200, Office 3 St. Laurent, QC, H4L 5G6  </p>
		</div>
		<!-- /.col-lg-10 -->
	   </div><!-- /.row -->
	  </div><!-- /.container -->
     </section><!-- /.made -->
	 
	 <!-- ==============================================
	 Bottom Footer Section
	 =============================================== -->	
     <footer id="main-footer" class="main-footer">
	  <div class="container">
	   <div class="row">
	   
	    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
		 <ul class="social-links">
		  <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="800"><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
		  <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="600"><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
		  <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="400"><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
		  <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="200"><a href="#link"><i class="fa fa-pinterest fa-fw"></i></a></li>
		  <li class="revealOnScroll" data-animation="slideInLeft"><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
		 </ul>
		</div>
	    <!-- /.col-sm-4 -->
		
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 revealOnScroll" data-animation="bounceIn" data-timeout="200">
		 <div class="img-responsive text-center">
		  <i>  <%= image_tag "images/logo_en.png" , size: "60x55" %></i>		 </div><!-- End image-->
		</div>
		<!-- /.col-sm-4 -->
		
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-right revealOnScroll" data-animation="slideInRight" data-timeout="200">
		 <p>&copy;2016 Legal Lighthouse Inc. <a href="#" target="_blank"></a></p>
		</div>
		<!-- /.col-sm-4 -->
				
	   </div><!-- /.row -->
	  </div><!-- /.container -->
	 </footer><!-- /.footer -->  
	 
     <a id="scrollup">Scroll</a>
	 
     <!-- ==============================================
	 Scripts
	 =============================================== -->
	 
   

</body>
</html>

